html,body{
    margin:0px; 
    padding:0px;
    background-color: black;
}
   
.ui-roaming-image{
    position: absolute;
    left:0px;
    top:0px;
    font-size:40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}