html{
    background-color: black;
}
.ui-name-container{
    white-space: pre;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 20px;
}