html,body{
    margin:0;
    padding:0;
    background-color: cadetblue;
}
.header{
    text-align: center;
}
.container{
    padding:10px;
}
.section-title{
    text-decoration: underline;
}
.input-label{
    font-weight: bold;
    font-size: 22px;
}
.input-grid{
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    justify-content: space-evenly;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}


.input-group textarea {
    min-height: 120px;
    padding: 12px;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    font-size: 13px;
}

.result-section{
    width:100%;
}
.ui-result-area {
    min-height: 300px;
    width:-webkit-fill-available;
    padding: 15px;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-y: auto;
}
.operations-grid{
  margin-top: 10px;
}
  
.operation-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    .ui-action-header-title{
        min-width: 180px;
        max-width: 180px;
    }
}
textarea{
    background-color: lightblue;
    resize: none;
}
.button-group{
    display: flex;
    gap: 50px;
}
.btn{
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: beige;
    &:hover{
        background-color: aquamarine;
        transform:scale(1.5);
    }
}
